body {
  background-color: #282726;
  font-family: "Hanken Grotesk", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  text-align: center;
  flex-direction: column;
}
header h1 {
  color: #F9F4DA;
}
p {
  color: #8E8E8E;
}
span.language{
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  padding: 5px;
  text-align: center;
  font-weight: 700;
  position: relative;
}
.lifes {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 350px;

}

.hiddenletter {
  display: inline-flex;
  width: 2.25em;
  height: 2.25em;
  background-color: #323232;
  border-bottom: 1px solid #F9F4DA;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  color: #F9F4DA;
  font-weight: 700;
  font-size: 1.125rem;
  vertical-align: middle;
}
button {
  width: 40px;
  height: 40px;
  background-color: #FCBA29;
  border-radius: 4px;
  font-family: inherit;
  border: 1px solid #D7D7D7;
  color: #1E1E1E;
  font-weight: 700;
  margin-bottom: 8px;
  cursor: pointer;
  
}
.main {
  width: 600px;
  height: 726px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
span.language.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.letters {
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  justify-content: center;
  
}
.gameover {
  background-color: #BA2A2A;
  border-radius: 4px;
  color: #F9F4DA;
  
}
.gameover p {
  color: #F9F4DA;
}
.newgame {
  color: #1E1E1E;
  background-color: #11B5E5;
  border: 1px solid #D7D7D7;
  width: 230px;
  font-weight: 700;
  font-family: inherit;
}
button:disabled {
  opacity: 0.5;
}
.gamewon {
  background-color: #10A95B;
  border-radius: 4px;
  color: #F9F4DA;
}
.gamewon p {
  color: #F9F4DA;
}